* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  padding: 10% 10%;
}

.container {
  width: 60%;
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgb(172, 172, 172);
}

h1 {
  font-size: 24px;
  margin-bottom: 15px;
}

form {
  display: flex;
  gap: 8px;
  margin-bottom: 15px;
}

form input {
  flex: 1;
  padding: 10px;
  font-size: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

form button {
  padding: 10px 15px;
  font-size: 15px;
  background: #9da5ad;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

ul {
  list-style: none;
}

li {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 5px;
  border-bottom: 2px dashed #adb2b4;
  cursor: pointer;
}
li.done {
  opacity: 0.5;
}

li span {
  flex: 1;
}

li.done span {
  text-decoration: line-through;
  color: #999;
}

li button {
  background: none;
  border: none;
  color: #999;
  font-size: 20px;
  cursor: pointer;
}

li button:hover {
  color: #e74c3c;
}
